<h3>Enter new product</h3>
<form action="">
    <div class="example-container">
        <mat-form-field appearance="fill">
          <mat-label>Enter brand</mat-label>
          <input matInput placeholder="Enter brand..." required>
          <mat-error *ngIf="brand.invalid">{{getErrorMessage()}}</mat-error>
        </mat-form-field>
    </div>
    <div class="example-container">
        <mat-form-field appearance="fill">
          <mat-label>Enter name</mat-label>
          <input matInput placeholder="Enter name..." required>
          <mat-error *ngIf="name.invalid">{{getErrorMessage()}}</mat-error>
        </mat-form-field>
    </div>
    <div class="example-container">
        <mat-form-field appearance="fill">
          <mat-label>Enter price</mat-label>
          <input matInput placeholder="Enter price..." required>
          <mat-error *ngIf="price.invalid">{{getErrorMessage()}}</mat-error>
        </mat-form-field>
    </div>
    <div class="example-container">
        <mat-form-field appearance="fill">
          <mat-label>Enter description</mat-label>
          <input matInput placeholder="Enter description..." required>
          <mat-error *ngIf="description.invalid">{{getErrorMessage()}}</mat-error>
        </mat-form-field>
    </div>
<button type="submit" (click)="click()">Submit</button>
</form>

<hr>
